{%- extends 'layouts/base.html' -%}

{%- from "components/cookie-banner/macro.html" import tnaCookieBanner -%}
{%- from "components/footer/macro.html" import tnaFooter -%}
{%- from "components/header/macro.html" import tnaHeader -%}

{%- set siteTitle = 'PRONOM - The National Archives' -%}

{% block pageTitle -%}
  {%- set truncatedPageTitle = pageTitle -%}
  {% if truncatedPageTitle %}
    {%- set maxTitleLength = 70 -%}
    {%- set titleCharsRemaining = maxTitleLength - ((siteTitle | length) + 3) -%}
    {%- if (truncatedPageTitle | length) > titleCharsRemaining -%}
      {%- set truncatedPageTitle = truncatedPageTitle | truncate(titleCharsRemaining, False, '...', 0) -%}
    {%- endif -%}
  {%- endif -%}
  {%- if truncatedPageTitle %}{{ truncatedPageTitle }} - {% endif %}{{ siteTitle -}}
{%- endblock pageTitle %}

{%- set description = description or '' -%}
{%- set theme = theme if theme in ['light', 'dark', 'system'] else 'system' -%}
{%- set themeAccent = 'blue' -%}
{%- set htmlAttributes = {
  'data-tna-cookies-domain': cookies_domain or '.nationalarchives.gov.uk'
} -%}
{%- set highlight_header_item = highlight_header_item or '' -%}

{% block headIcons %}
  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/favicon.ico" type="image/x-icon">

  <link rel="apple-touch-icon" sizes="48x48" href="/assets/icon-48x48.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/icon-72x72.png">
  <link rel="apple-touch-icon" sizes="96x96" href="/assets/icon-96x96.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/icon-152x152.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/assets/icon-167x167.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/icon-180x180.png">
  <link rel="apple-touch-icon" sizes="192x192" href="/assets/icon-192x192.png">
  <link rel="apple-touch-icon" sizes="256x256" href="/assets/icon-256x256.png">
  <link rel="apple-touch-icon" sizes="512x512" href="/assets/icon-512x512.png">
  <link rel="apple-touch-icon" sizes="1024x1024" href="/assets/icon-1024x1024.png">

  <meta property="og:logo" content="/icon-1024x1024.png">
  <meta name="apple-mobile-web-app-title" content="{{ siteTitle }}">
  <meta name="apple-mobile-web-app-capable" content="no">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta property="og:site_name" content="{{ siteTitle }}">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_GB">
  <meta property="og:title" content="{{ pageTitle or siteTitle }}">
  {%- if description %}
  <meta name="description" content="{{ description }}">
  <meta property="og:description" content="{{ description }}">
  {%- endif %}
  <meta property="og:url" content="https://pronom.nationalarchives.gov.uk/">
  <meta property="og:image" content="https://pronom.nationalarchives.gov.uk/assets/pronom-opengraph-image.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:image:type" content="image/png">
{% endblock %}

{% block head %}
  <!-- <link rel="manifest" href="/assets/manifest.json"> -->
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="/assets/main.css?v={{ cache_buster }}" media="screen,print">
  <link rel="stylesheet" href="/assets/font-awesome.css?v={{ cache_buster }}">
  <link rel="preconnect" href="https://use.typekit.net">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://use.typekit.net/kaq6qqh.css" media="screen,print">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400..700&family=Roboto+Mono:wght@400..500&display=swap" media="screen,print">
  <link rel="stylesheet" href="https://www.nationalarchives.gov.uk/enrichment/css/logo-adornments.css" media="screen" id="logo-adornments-css">
  <link rel="stylesheet" href="/assets/print.css?v={{ cache_buster }}" media="print">
  <link rel="stylesheet" href="/assets/ie.css?v={{ cache_buster }}" media="all and (-ms-high-contrast: none), (-ms-high-contrast: active)">
{% endblock %}

{% block cookies %}
  {{ tnaCookieBanner({
    'serviceName': 'PRONOM',
    'cookiesUrl': 'https://www.nationalarchives.gov.uk/cookies/'
  }) | indent(6) }}
{% endblock %}

{% block header %}
  {%- set phase_banner_message -%}
    This service is still in development. <a href="https://www.smartsurvey.co.uk/s/pronom/">Give us your feedback</a>{%- if old_url %} or <a href="{{ old_url }}">view this page on the current PRONOM service</a>{%- endif -%}.
  {%- endset -%}
  {{ tnaHeader({
    'logo': {
      'strapline': 'PRONOM',
      'href': '/'
    },
    'navigation': [
      {
        'text': 'About',
        'href': '/about',
        'selected': highlight_header_item == 'about'
      },
      {
        'text': 'Search',
        'href': '/search',
        'selected': highlight_header_item == 'search'
      },
      {
        'text': 'Releases',
        'href': '/releases',
        'selected': highlight_header_item == 'releases'
      }
    ],
    'topNavigation': [
      {
        'text': 'DROID Signature Files',
        'href': '/signature-list'
      },
      {
        'text': 'PRONOM on GitHub',
        'href': 'https://github.com/nationalarchives/pronom',
        'icon': 'brands fa-github'
      }
    ],
    'phaseBanner': {
      'phase': 'Beta',
      'message': phase_banner_message
    }
  }) | indent(4) }}
{% endblock %}

{% block content %}
  {{ content | safe }}
{% endblock %}

{% block footer %}
  {{ tnaFooter({
    'themeSelector': True,
    'cookiesUrl': 'https://www.nationalarchives.gov.uk/cookies/',
    'currentTheme': theme,
    'defaultContent': True,
    'defaultContentBaseUrl': 'https://www.nationalarchives.gov.uk',
    'navigation': [],
    'showNewsletter': False,
    'legal': [
      {
        'text': 'Accessibility statement',
        'href': '/accessibility-statement'
      },
      {
        'text': 'Terms and conditions',
        'href': 'https://www.nationalarchives.gov.uk/legal/'
      },
      {
        'text': 'Cookies',
        'href': 'https://www.nationalarchives.gov.uk/cookies/'
      }
    ],
    'classes': '' if no_footer_margin else 'tna-!--margin-top-xl'
  }) | indent(4) }}
{% endblock %}

{% block bodyEnd %}
  <script src="/assets/main.js?v={{ cache_buster }}" defer></script>
  <script type="module" src="https://www.nationalarchives.gov.uk/enrichment/js/logo-adornments.js" id="logo-adornments-js" async></script>
{% endblock %}
