{%- extends 'index.html' -%}

{%- from "components/breadcrumbs/macro.html" import tnaBreadcrumbs -%}

{%- set pageTitle = name -%}
{%- set old_url = 'https://www.nationalarchives.gov.uk/PRONOM/Vendor/proVendorSearch.aspx?status=detailReport&id=' ~ actorId -%}

{% block beforeContent %}
  <div class="tna-!--padding-top-s">
    <div class="tna-container">
      <div class="tna-column tna-column--full">
        {{ tnaBreadcrumbs({
          'items': [
            {
              'text': 'Home',
              'href': '/'
            }
          ]
        }) | indent(6) }}
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="tna-container tna-section">
  <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
    <hgroup class="tna-hgroup-xl">
      <p class="tna-hgroup__supertitle">Actor</p>
      <h1 class="tna-hgroup__title">{{ pageTitle }}</h1>
    </hgroup>
    <dl class="tna-dl tna-dl--lined">
      {% for key, value in results.items() %}
        {% if value %}
          <dt>{{ key }}</dt>
          <dd>{{ value|urlize(nofollow=True) }}</dd>
        {% endif %}
      {% endfor %}
    </dl>
  </div>
</div>
{% endblock %}