{% for container in data['containerSignatures'] %}
  <section class="tna-section">
    <h2 class="tna-heading-m">Container {{ container.id }} {{ container.description }} {{ container.containerType }}</h2>
    {% for file in container['files'] %}
      <hr>
      <section class="tna-section">
        <h2 class="tna-heading-s">File path </h2><p id="file-path-{{ container.id }}">{{ file['path'] }}</p>
        {% if 'byteSequences' in file %}
          {% for byte_sequence in file['byteSequences'] %}
            <section class="tna-section">
              <h3 class="tna-heading-s">Byte sequence reference </h3><p id="byteSequence{{ byte_sequence['reference'] }}">{{ byte_sequence['reference'] }}</p>
              {% if 'subSequences' in byte_sequence %}
                <h4 class="tna-heading-s">Sub sequences</h4>
                {% for sub_sequence in byte_sequence['subSequences'] %}
                  <dl class="tna-dl">
                      <dt>Min Frag Length</dt> <dd>{{ sub_sequence['minFragLength'] }}</dd>
                      <dt>Position</dt><dd>{{ sub_sequence['position'] }}</dd>
                      <dt>Sub sequence min offset</dt><dd>{{ sub_sequence['subSeqMinOffset'] }}</dd>
                      <dt>Sub sequence max offset</dt><dd>{{ sub_sequence['subSeqMaxOffset'] }}</dd>
                      <dt>Sequence</dt><dd>{{ sub_sequence['sequence'] }}</dd>
                      {% if 'leftFragment' in sub_sequence %}
                        <dt>Left fragment</dt><dd>Max offset {{ sub_sequence['leftFragment']['maxOffset'] }} Min offset {{ sub_sequence['leftFragment']['minOffset'] }} Position {{ sub_sequence['leftFragment']['position'] }}</dd>
                      {% endif %}
                      {% if 'rightFragment' in sub_sequence %}
                        <dt>Right fragment</dt><dd>Max offset {{ sub_sequence['rightFragment']['maxOffset'] }} Min offset {{ sub_sequence['rightFragment']['minOffset'] }} Position {{ sub_sequence['rightFragment']['position'] }}</dd>
                      {% endif %}
                    </dl>
                {% endfor %}
              {% endif %}
            </section>
          {% endfor %}
        {% endif %}
      </section>
    {% endfor %}
  </section>
{% endfor %}