{% from "components/accordion/macro.html" import tnaAccordion %}
{% set body_content %}

{% for result in results %}
  <dl class="tna-dl">
    {% for key, value in result.items() %}
    <dt>{{ key }}</dt>
    <dd>{{ value }}</dd>
    {% endfor %}
    {% if source is defined and source is not none %}
      <dt>Source</dt>
      <dd><a href="/actor/{{ source['actorId'] }}">{{ source['name'] }}</a></dd>
    {% endif %}
    {% if developedBy is defined and developedBy is not none %}
      <dt>Developed by</dt>
      <dd><a href="/actor/{{ developedBy['actorId'] }}">{{ developedBy['name'] }}</a></dd>
    {% endif %}
    {% if supportedBy is defined and supportedBy is not none %}
      <dt>Supported by</dt>
      <dd><a href="/actor/{{ supportedBy['actorId'] }}">{{ supportedBy['name'] }}</a></dd>
    {% endif %}
  </dl>
{% endfor %}
{% endset %}


{{ tnaAccordion({
  'itemHeadingLevel': 1,
  'id': id,
  'items': [
    {
      'title': title,
      'body': body_content|safe,
      'open': open|default(false)

    },
  ],
  'group': "group-1"
}) }}
