{% from "components/accordion/macro.html" import tnaAccordion %}
{% from "components/button/macro.html" import tnaButton %}
<div class="tna-column tna-column--full tna-!--padding-vertical-s">
  <h1 class="tna-heading-m">{{ name }}</h1>
  <div class="tna-button-group">
    <a class="tna-button tna-button--small" href="{{ editPath }}">Edit</a>
  </div>
  {{ summary|safe }}
  {{ signatures|safe }}
  {{ tnaAccordion({
    'itemHeadingLevel': 1,
    'id': 'container',
    'items': [
      {
        'title': 'Container signatures',
        'body': containers|safe,
        'open': false

      },
    ],
    'group': "group-1"
  }) }}

</div>