{%- extends 'index.html' -%}

{%- from "components/card/macro.html" import tnaCard -%}

{% block beforeContent %}{% endblock %}

{% block content %}
<div class="tna-section">
  <div class="tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
      <h1 class="tna-heading-xl">Page not found</h1>
      <p>If you typed a web address, check it is correct.</p>
      <p>If you pasted the web address, check you copied the entire address.</p>
      <p>Alternatively, you can <a href="/">return to the start.</a></p>
    </div>
  </div>
</div>

{% endblock %}
