{%- extends 'index.html' -%}

{%- from "components/button/macro.html" import tnaButton -%}
{%- from "components/search-field/macro.html" import tnaSearchField -%}

{% block content %}
<div class="tna-section tna-background-accent-light">
  <div class="tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
      <form action="/results" method="get" novalidate>
        {{ tnaSearchField({
          'label': 'Search PRONOM',
          'headingLevel': 1,
          'headingSize': 'xl',
          'id': 'search',
          'name': 'q',
          'hint': 'Enter a file format name or file extension'
        }) }}
      </form>
    </div>
  </div>
</div>
<div class="tna-container">
  <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny tna-!--margin-top-l">
    <p class="tna-large-paragraph">PRONOM is an online database that provides clear, reliable information about digital
      file formats.</p>
    <h2 class="tna-heading-m">About this service</h2>
    <p>Archivists and others use it to understand the technical details behind files so they can keep
      important digital records accessible over time. A key part of PRONOM is its database of file‑format signatures -
      small patterns inside a file that help tools like DROID identify exactly what format it is. Knowing the precise
      format helps you plan how to maintain access and readability, especially as older formats become harder to
      open.</p>
  </div>
  <div class="tna-column tna-column--width-1-3 tna-column--width-2-3-medium tna-column--width-3-4-small tna-column--full-tiny tna-!--margin-top-l">
    <div class="tna-aside tna-background-tint">
      <h2 class="tna-heading-m">DROID Signature Files</h2>
      <p>These signature files are created by PRONOM and used by the DROID software tool to identify the exact format of a digital file.</p>
      <div class="tna-button-group">
        {{ tnaButton({
          'text': 'View DROID signature files',
          'href': '/signature-list'
        }) }}
      </div>
    </div>
  </div>
</div>

{% endblock %}
