{%- extends 'index.html' -%}

{%- from "components/breadcrumbs/macro.html" import tnaBreadcrumbs -%}
{%- from "components/card/macro.html" import tnaCard -%}

{% block beforeContent %}
  <div class="tna-!--padding-vertical-s tna-background-accent-light">
    <div class="tna-container">
      <div class="tna-column tna-column--full">
        {{ tnaBreadcrumbs({
          'items': [
            {
              'text': 'The National Archives',
              'href': 'https://www.nationalarchives.gov.uk/'
            }
          ]
        }) | indent(6) }}
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="tna-section tna-!--padding-top-m tna-background-accent-light">
  <div class="tna-container">
    <div
        class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
      <h1 class="tna-heading-xl">Welcome to PRONOM</h1>
      <p class="tna-scene-setter">PRONOM is an online database that provides clear, reliable information about digital
        file formats.</p>
    </div>
  </div>
</div>
<div class="tna-!--padding-bottom-m tna-background-accent-light">
  <div class="tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
      <form action="/results" method="get">
        <div class="tna-form-item">
          <div class="tna-form-item__header">
            <h2 class="tna-form-item__label tna-heading-l">
              <label for="search">
                Search PRONOM
              </label>
            </h2>
          </div>
          <div class="tna-form-item__body">
            <p>Enter a file format name or file extension</p>
            <div class="tna-search-field">
              <input type="search" id="search" class="tna-search-field__input" name="q" value="" spellcheck="false" placeholder="Input your search term...">
              <button class="tna-button tna-search-field__button" type="submit" title="Search">
                Search
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="tna-section">
  <div class="tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
      <h3 class="tna-heading-m">About this service</h3>
      <p>Archivists and others use it to understand the technical details behind files so they can keep
        important digital records accessible over time. A key part of PRONOM is its database of file‑format signatures -
        small patterns inside a file that help tools like DROID identify exactly what format it is. Knowing the precise
        format helps you plan how to maintain access and readability, especially as older formats become harder to
        open.</p>
    </div>
  </div>
</div>

{% endblock %}
