{%- extends 'layouts/base.html' -%}

{%- from "components/cookie-banner/macro.html" import tnaCookieBanner -%}
{%- from "components/footer/macro.html" import tnaFooter -%}
{%- from "components/header/macro.html" import tnaHeader -%}

{%- set pageTitle = pageTitle or 'PRONOM' -%}
{%- set themeAccent = 'blue' -%}
{%- set htmlAttributes = {
  'data-tna-cookies-domain': 'd21gi86t6uhf68.cloudfront.net'
} -%}

{% block headIcons %}
  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/favicon.ico" type="image/x-icon">
{% endblock %}

{% block head %}
<meta name="description" content="PRONOM - The National Archives">
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="/all.css" media="screen,print">
  <link rel="stylesheet" href="/font-awesome.css">
  <link rel="preconnect" href="https://use.typekit.net">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://use.typekit.net/kaq6qqh.css" media="screen,print">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400..700&family=Roboto+Mono:wght@400..500&display=swap" media="screen,print">
  <link rel="stylesheet" href="https://www.nationalarchives.gov.uk/enrichment/css/logo-adornments.css" media="screen">
  <link rel="stylesheet" href="/print.css" media="print">
  <link rel="stylesheet" href="/ie.css" media="all and (-ms-high-contrast: none), (-ms-high-contrast: active)">
{% endblock %}

{% block cookies %}
  {#
  {{ tnaCookieBanner({
    cookiesUrl: 'https://www.nationalarchives.gov.uk/cookies/'
  }) | indent(6) }}
  #}
{% endblock %}

{% block header %}
  {{ tnaHeader({
    'logo': {
      'strapline': 'PRONOM',
      'href': '/'
    },
    'navigation': [
      {
        'text': 'DROID Signature Files',
        'href': '/signature-list'
      }
    ],
    'phaseBanner': {
      'phase': 'Alpha',
      'message': 'This service is still in development. Visit <a href="https://www.nationalarchives.gov.uk/pronom/">PRONOM</a> for the current live version.'
    }
  }) | indent(4) }}
{% endblock %}

{% block content %}
  {{ content | safe }}
{% endblock %}

{% block footer %}
  {{ tnaFooter({
    'defaultContent': True,
    'defaultContentBaseUrl': 'https://www.nationalarchives.gov.uk',
    'navigation': [],
    'showNewsletter': False,
    'legal': []
  }) | indent(4) }}
{% endblock %}

{% block bodyEnd %}
  <script src="/all.js"></script>
  <script src="/site.js"></script>
  <script type="module" src="https://www.nationalarchives.gov.uk/enrichment/js/logo-adornments.js" defer></script>
{% endblock %}
