{%- extends '_base.html' -%}

{%- from "components/button/macro.html" import tnaButton -%}
{%- from "components/search-field/macro.html" import tnaSearchField -%}

{%- set old_url = 'https://www.nationalarchives.gov.uk/pronom/' -%}
{%- set no_footer_margin = True -%}
{%- set mainClasses = 'pronom-hero' -%}

{% block head %}
{{ super() }}
<meta name="description" content="An online database that provides clear, reliable information about digital file formats">
{% endblock %}

{% block content %}
  <div class="tna-container">
    <div class="tna-column tna-column--full tna-column--width-5-6-medium">
      <div class="pronom-hero__content">
        <div class="pronom-hero__content-inner tna-!--padding-vertical-m">
          <h1 class="tna-heading-xl">PRONOM</h1>
          <p class="tna-scene-setter">PRONOM is an online database that provides clear, reliable information about digital file formats.</p>
          <div class="tna-button-group">
            {{ tnaButton({
              'html': 'About PRONOM',
              'href': '/about',
              'icon': 'arrow-right',
              'rightAlignIcon': True,
              'attributes': {
                'aria-label': 'Learn more about PRONOM'
              }
            }) | indent(10) }}
          </div>
        </div>
        <div class="pronom-hero__content-inner tna-!--padding-top-s tna-!--padding-bottom-m tna-background-accent-light">
          <form class="tna-!--margin-top-xs" action="/search" method="get" novalidate>
            {{ tnaSearchField({
              'label': 'Search',
              'headingLevel': 2,
              'headingSize': 'l',
              'id': 'search',
              'name': 'q',
              'hint': 'Enter a file format name or file extension'
            }) }}
          </form>
          <p class="tna-!--margin-top-xs">
            <small>Browse <a href="/releases">PRONOM releases</a></small>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block content_old %}
<div class="tna-section tna-background-accent-light">
  <div class="tna-container">
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
      <form action="/search" method="get" novalidate>
        {{ tnaSearchField({
          'label': 'Search PRONOM',
          'headingLevel': 1,
          'headingSize': 'xl',
          'id': 'search',
          'name': 'q',
          'hint': 'Enter a file format name or file extension'
        }) }}
      </form>
    </div>
  </div>
</div>
<div class="tna-container">
  <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny tna-!--margin-top-l">
    <p class="tna-large-paragraph">PRONOM is an online database that provides clear, reliable information about digital
      file formats.</p>
    <h2 class="tna-heading-m">About this service</h2>
    <p>Archivists and others use it to understand the technical details behind files so they can keep
      important digital records accessible over time. A key part of PRONOM is its database of file‑format signatures -
      small patterns inside a file that help tools like DROID identify exactly what format it is. Knowing the precise
      format helps you plan how to maintain access and readability, especially as older formats become harder to
      open.</p>
  </div>
</div>
{% endblock content_old %}
