{%- extends '_base.html' -%}

{%- from "components/breadcrumbs/macro.html" import tnaBreadcrumbs -%}
{%- from "components/text-input/macro.html" import tnaTextInput -%}

{%- set pageTitle = 'Releases' -%}
{%- set description = 'Details about PRONOM releases' -%}
{%- set old_url = 'https://www.nationalarchives.gov.uk/aboutapps/pronom/release-notes.xml' -%}
{%- set highlight_header_item = 'releases' -%}

{% block beforeContent %}
<div class="tna-!--padding-top-s tna-background-accent-light">
  <div class="tna-container">
    <div class="tna-column tna-column--full">
      {{ tnaBreadcrumbs({
        'items': [
          {
            'text': 'Home',
            'href': '/'
          }
        ]
      }) | indent(6) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="tna-section tna-background-accent-light">
    <div class="tna-container">
      <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
        <h1 class="tna-heading-xl">{{ pageTitle }}</h1>
        <p class="tna-scene-setter">A list of changes made to PRONOM with each release</p>
      </div>
    </div>
  </div>
<div class="tna-container tna-section">
  <div class="tna-column tna-column--width-5-6 tna-column--full-medium tna-column--full-small tna-column--full-tiny">
    <ul class="tna-ul tna-ul--plain" id="releases">
    {%- for version_date, release in releases.items() %}
      {%- set is_latest = version_date[0] == latest_release %}
      {%- set affected_records = (release["New Records"]|map(attribute='puid')|list + release["Updated Records"]|map(attribute='puid')|list + release["New Signatures"]|map(attribute='puid')|list)|unique|list %}
      <li class="tna-!--margin-bottom-s" data-affected-records="{{ affected_records|join(',') }}">
        <div class="pronom-release{{ ' tna-background-accent-light' if is_latest else '' }}">
          {% if is_latest %}
          <hgroup class="tna-hgroup-l">
            <p class="tna-hgroup__supertitle">Latest</p>
            <h2 class="tna-hgroup__title">
              <a href="/releases/{{ version_date[0]|lower }}">{{ version_date[0] }}</a>
            </h2>
          </hgroup>
          {% else %}
          <h2 class="tna-heading-l">
            <a href="/releases/{{ version_date[0]|lower }}">{{ version_date[0] }}</a>
          </h2>
          {% endif %}
          <dl class="tna-dl tna-dl--right-weighted tna-!--margin-top-xs">
            <dt>Release date</dt>
            <dd>{{ version_date[1] }}</dd>
            <dt>Changes</dt>
            {%- if release["New Records"]|length %}
            <dd>{{ release["New Records"]|length }} record{{ 's' if release["New Records"]|length > 1 else '' }} added</dd>
            {%- endif %}
            {%- if release["New Signatures"]|length %}
            <dd>{{ release["New Signatures"]|length }} signature{{ 's' if release["New Signatures"]|length > 1 else '' }} added</dd>
            {%- endif %}
            {%- if release["Updated Records"]|length %}
            <dd>{{ release["Updated Records"]|length }} record{{ 's' if release["Updated Records"]|length > 1 else '' }} updated</dd>
            {%- endif %}
            <dt>Records added or changed</dt>
            <dd>{% for item in affected_records|sortpuids %}<code>{{ item }}</code>{% if not loop.last %}, {% endif %}{% endfor %}</dd>
          </dl>
        </div>
      </li>
    {%- endfor %}
    </ul>
  </div>
</div>
{% endblock %}
