{%- extends 'index.html' -%}

{%- from "components/breadcrumbs/macro.html" import tnaBreadcrumbs -%}
{%- from "components/sidebar/macro.html" import tnaSidebar -%}

{%- set pageTitle = name -%}
{%- if id %}
    {%- set old_url = 'https://www.nationalarchives.gov.uk/PRONOM/Format/proFormatSearch.aspx?status=detailReport&id=' ~ id -%}
{%- elif puid %}
    {%- set old_url = 'https://www.nationalarchives.gov.uk/PRONOM/' ~ puid -%}
{%- endif %}

{% block content %}
    <div class="tna-container tna-!--margin-bottom-l">
        <div class="tna-column tna-column--width-2-3 tna-column--full-small tna-column--full-tiny tna-!--margin-top-l">
            <hgroup class="tna-hgroup-xl">
                <h1 class="tna-hgroup__title">Releases</h1>
            </hgroup>
            <table class="tna-table">
                <thead class="tna-table__head">
                <tr class="tna-table__row">
                    <th class="tna-table__header">Date</th>
                    <th class="tna-table__header">Version</th>
                </tr>
                </thead>
                <tbody class="tna-table__body">
                {%- for release in releases %}
                    <tr class="tna-table__row">
                        <td class="tna-table__cell">{{ release.date }}</td>
                        <td class="tna-table__cell"><a href="{{ release.href }}">{{ release.text }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
