{%- extends 'index.html' -%}

{%- from "components/breadcrumbs/macro.html" import tnaBreadcrumbs -%}
{%- from "components/search-field/macro.html" import tnaSearchField -%}

{%- set pageTitle = 'Search PRONOM' -%}

{% block beforeContent %}
  <div class="tna-!--padding-vertical-s">
    <div class="tna-container">
      <div class="tna-column tna-column--full">
        {{ tnaBreadcrumbs({
          'items': [
            {
              'text': 'Home',
              'href': '/'
            }
          ]
        }) | indent(6) }}
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="tna-container tna-section">
    <div class="tna-column tna-column--full">
      <form action="/results" method="get">
          {{ tnaSearchField({
            'label': pageTitle,
            'headingLevel': 1,
            'headingSize': 'l',
            'id': 'search',
            'name': 'q'
          }) }}
      </form>
    </div>
  </div>
{% endblock %}
