{%- extends 'index.html' -%}

{%- set pageTitle = 'DROID Signature Files' -%}

{% block content %}
  <div class="tna-container tna-section">
    <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
      <h1 class="tna-heading-xl">{{ pageTitle }}</h1>
      <p>
        This page provides an archive of all previously released DROID signature files.
        These signature files are created by PRONOM and used by the DROID software tool to identify the exact format of a digital file.</p>
      <p>
        Each download is an XML file containing a set of signatures that were released together.
        If you are researching digital file formats, or you are interested in how file format identification works, these files may be helpful.
      </p>
      <h2 class="tna-heading-l">Binary signature files</h2>
      <ol class="tna-ol tna-ol--plain">
        {%- for data in signature_data %}
          <li>
            <a href="{{ data['location'] }}" rel="noreferrer noopener" target="_blank">{{ data['name'] }}</a>
          </li>
        {%- endfor %}
      </ol>
      <h2 class="tna-heading-l">Container signature files</h2>
      <ol class="tna-ol tna-ol--plain">
        {%- for data in container_signature_data %}
          <li>
            <a href="{{ data['location'] }}" rel="noreferrer noopener" target="_blank">{{ data['name'] }}</a>
          </li>
        {%- endfor %}
      </ol>
    </div>
  </div>
{% endblock %}
