<section class="tna-section">
  {% for signature in signatures %}
    <hr>
    <section class="tna-section">
      <h2 class="tna-heading-s">Name </h2><p id="signature-name-{{ signature.signatureID }}">{{ signature['name'] }}</p>
      <h2 class="tna-heading-s">Description </h2><p id="signature-description-{{ signature.signatureID }}">{{ signature['description'] }}</p>
      <h2 class="tna-heading-s">Note </h2><p id="signature-note-{{ signature.signatureID }}">{{ signature['note'] }}</p>
      {% if 'byteSequences' in signature %}
        {% for byte_sequence in signature['byteSequences'] %}
          <section class="tna-section">
            <dl class="tna-dl">
              <dt>Min Frag Length</dt> <dd>{{ byte_sequence['positionType'] }}</dd>
              <dt>Offset</dt><dd>{{ byte_sequence['offset'] }}</dd>
              <dt>Max offset</dt><dd>{{ byte_sequence['maxOffset'] }}</dd>
              <dt>Byte Sequence</dt><dd>{{ byte_sequence['byteSequence'] }}</dd>
              <dt>Endianness</dt><dd>{{ byte_sequence['endianness'] }}</dd>
            </dl>
          </section>
        {% endfor %}
      {% endif %}
    </section>
  {% endfor %}
</section>
