services:
  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    ports:
      - 8081:80
    volumes:
      - ./nginx:/etc/nginx/conf.d
    restart: unless-stopped
    depends_on:
      - app
  app:
    build:
      context: .
      dockerfile: Dockerfile.flask
    volumes:
      - ./pyproject.toml:/app/pyproject.toml
      - ./poetry.lock:/app/poetry.lock
      - ./package.json:/app/package.json
      - ./package-lock.json:/app/package-lock.json
      - ./app:/app/app
      - ./lambdas:/app/lambdas
      - ./tests:/app/tests
    restart: unless-stopped
