// Common utilities
@use "@nationalarchives/frontend/nationalarchives/utilities";

// Presentational components
@use "@nationalarchives/frontend/nationalarchives/components/breadcrumbs";
@use "@nationalarchives/frontend/nationalarchives/components/button";
@use "@nationalarchives/frontend/nationalarchives/components/cookie-banner";
@use "@nationalarchives/frontend/nationalarchives/components/footer";
@use "@nationalarchives/frontend/nationalarchives/components/header";
@use "@nationalarchives/frontend/nationalarchives/components/phase-banner";
@use "@nationalarchives/frontend/nationalarchives/components/sidebar";
@use "@nationalarchives/frontend/nationalarchives/components/skip-link";

// Form components
@use "@nationalarchives/frontend/nationalarchives/components/search-field";
@use "@nationalarchives/frontend/nationalarchives/components/text-input";

// Tools
@use "@nationalarchives/frontend/nationalarchives/tools/a11y";
@use "@nationalarchives/frontend/nationalarchives/tools/borders";
@use "@nationalarchives/frontend/nationalarchives/tools/colour";
@use "@nationalarchives/frontend/nationalarchives/tools/media";
@use "@nationalarchives/frontend/nationalarchives/tools/shadows";
@use "@nationalarchives/frontend/nationalarchives/tools/spacing";

.tna-dl {
  > dt,
  > dd {
    overflow-wrap: anywhere;
  }

  &__sticky-title {
    display: block;

    position: sticky;
    top: 0.5rem;
  }
}

.pronom-results {
  display: grid;
  grid-template-columns: auto;
  gap: 0 spacing.space(1.5);

  list-style: none;

  @include colour.colour-border("keyline-dark", 4px, solid, top);
  @include colour.colour-border("keyline-dark", 4px, solid, bottom);

  &__item {
    padding: spacing.space(0.375) spacing.space(0.75);

    grid-column: 1 / 4;

    display: grid;
    grid-template-columns: subgrid;

    &:hover {
      @include colour.tint;
    }

    @include a11y.faux-full-outline("a");

    & + & {
      @include colour.colour-border("keyline", 1px, solid, top);
    }
  }

  &__item-heading {
    grid-column: 1 / 2;
  }

  &__item-details {
    grid-column: 2 / 4;

    display: grid;
    grid-template-columns: subgrid;

    dt {
      width: 0;
      height: 0;

      overflow: hidden;

      position: absolute;
    }
  }

  @include media.on-mobile {
    &__item-heading {
      grid-column: 1 / 4;
    }

    &__item-details {
      grid-column: 1 / 4;
      grid-row: 2;
    }
  }

  @include media.on-tiny {
    &__item-details {
      display: block;
    }
  }
}

.tna-table {
  &:last-child {
    margin-bottom: 0 !important;
  }
}

.pronom-hero {
  padding-top: clamp(spacing.space(3), 6vh, spacing.space(8));
  padding-bottom: clamp(spacing.space(5), 15vh, spacing.space(12));

  overflow: hidden;

  position: relative;

  background: linear-gradient(-45deg, #86bc25, #00b0ff);
  background-size: 125% 125%;

  &::before {
    content: "01000001011100100110001101101000011010010111011001101001011100110111010001110011001000000110000101101110011001000010000001101111011101000110100001100101011100100111001100100000011101010111001101100101001000000101000001010010010011110100111001001111010011010010000001110100011011110010000001110101011011100110010001100101011100100111001101110100011000010110111001100100001000000111010001101000011001010010000001110100011001010110001101101000011011100110100101100011011000010110110000100000011001000110010101110100011000010110100101101100011100110010000001100010011001010110100001101001011011100110010000100000011001100110100101101100011001010111001100100000011100110110111100100000011101000110100001100101011110010010000001100011011000010110111000100000011010110110010101100101011100000010000001101001011011010111000001101111011100100111010001100001011011100111010000100000011001000110100101100111011010010111010001100001011011000010000001110010011001010110001101101111011100100110010001110011001000000110000101100011011000110110010101110011011100110110100101100010011011000110010100100000011011110111011001100101011100100010000001110100011010010110110101100101001011100010000001000001001000000110101101100101011110010010000001110000011000010111001001110100001000000110111101100110001000000101000001010010010011110100111001001111010011010010000001101001011100110010000001101001011101000111001100100000011001000110000101110100011000010110001001100001011100110110010100100000011011110110011000100000011001100110100101101100011001011000000001000101100110011011110111001001101101011000010111010000100000011100110110100101100111011011100110000101110100011101010111001001100101011100110010000000101101001000000111001101101101011000010110110001101100001000000111000001100001011101000111010001100101011100100110111001110011001000000110100101101110011100110110100101100100011001010010000001100001001000000110011001101001011011000110010100100000011101000110100001100001011101000010000001101000011001010110110001110000001000000111010001101111011011110110110001110011001000000110110001101001011010110110010100100000010001000101001001001111010010010100010000100000011010010110010001100101011011100111010001101001011001100111100100100000011001010111100001100001011000110111010001101100011110010010000001110111011010000110000101110100001000000110011001101111011100100110110101100001011101000010000001101001011101000010000001101001011100110010111000100000010010110110111001101111011101110110100101101110011001110010000001110100011010000110010100100000011100000111001001100101011000110110100101110011011001010010000001100110011011110111001001101101011000010111010000100000011010000110010101101100011100000111001100100000011110010110111101110101001000000111000001101100011000010110111000100000011010000110111101110111001000000111010001101111001000000110110101100001011010010110111001110100011000010110100101101110001000000110000101100011011000110110010101110011011100110010000001100001011011100110010000100000011100100110010101100001011001000110000101100010011010010110110001101001011101000111100100101100001000000110010101110011011100000110010101100011011010010110000101101100011011000111100100100000011000010111001100100000011011110110110001100100011001010111001000100000011001100110111101110010011011010110000101110100011100110010000001100010011001010110001101101111011011010110010100100000011010000110000101110010011001000110010101110010001000000111010001101111001000000110111101110000011001010110111000101110" /
      "";

    max-width: 50vw;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    font-size: clamp(1rem, 2.5vw, 3rem);
    font-weight: 700;
    line-height: 1;
    text-align: right;
    word-break: break-all;

    opacity: 0.05;
    mask-image: linear-gradient(
      to right,
      transparent,
      black var(--fade-size, 5rem)
    );

    transform: rotate(-10deg);
    transform-origin: 0 0;

    pointer-events: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;

    position: relative;
    z-index: 2;

    @include colour.colour-background("background");

    @include borders.rounded-border;

    @include shadows.drop-shadow;

    &-inner {
      padding-right: spacing.space(2);
      padding-left: spacing.space(2);

      flex: 1;

      &.tna-background-accent-light {
        @include colour.colour-border("keyline", 1px, solid, top);
      }
    }
  }

  .tna-template--dark-theme & {
    background: linear-gradient(-45deg, #00623b, #004c7e);
  }

  .tna-template--system-theme & {
    @media (prefers-color-scheme: dark) {
      background: linear-gradient(-45deg, #00623b, #004c7e);
    }
  }

  @include media.on-large {
    &__content {
      flex-direction: row;

      &-inner {
        &.tna-background-accent-light {
          border-top: none;
          @include colour.colour-border("keyline", 1px, solid, left);
        }
      }
    }
  }

  @include media.on-mobile {
    &__content {
      &-inner {
        padding-right: spacing.space(1.5);
        padding-left: spacing.space(1.5);
      }
    }
  }
}

.pronom-release {
  @include spacing.space-above;
  padding: spacing.space(1);

  @include colour.colour-border("keyline", 1px, solid);
  @include borders.rounded-border;

  @include a11y.faux-full-outline("a");

  &.tna-background-accent {
    border-width: 0;
  }

  &:hover {
    outline: 2px colour.colour-var("base-keyline") solid;
    outline-offset: 2px;
  }
}

.pronom-format-changelog {
  &__item {
    padding: spacing.space(1);
    @include colour.colour-border("keyline", 1px, solid);
    @include borders.rounded-border;

    @include a11y.faux-full-outline("a");

    &:hover {
      outline: 2px colour.colour-var("base-keyline") solid;
      outline-offset: 2px;
    }
  }
}
